{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    <f:flashMessages />
    <div class="tx-linklist-filter">
        <label class="tx-linklist-filter-label"><f:translate key="LLL:EXT:c1_linklist/Resources/Private/Language/locallang.xlf:filter" /></label>
        <f:for each="{categories}" as="category">
            <label for="checkbox-category-{category.uid}">
                <input type='checkbox' id="checkbox-category-{category.uid}" name="categories" checked value="{category.uid}" />
                {category.title}
            </label>
        </f:for>
    </div>
    <div class="row tx-linklist-items">
        <f:for each="{linkLists}" as="link">
            <div class="col-lg-6 tx-linklist-item" data-categories="{link.categories -> v:iterator.extract(key: 'uid') -> v:iterator.implode(glue: ',')}">
                <f:link.typolink class="tx-linklist-linkwrapper" parameter="{link.url}">
                    <article>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="tx-linklist-description">
                                    <h2>
                                        {link.title}

                                    </h2>
                                    {link.description}
                                </div>
                                <footer>
                                    <f:comment>
                                        <span class="tx-linklist-category-label">
                                            <f:if condition="{link.categories->f:count()}>1">
                                                <f:then>
                                                    <f:translate key="LLL:EXT:c1_linklist/Resources/Private/Language/locallang.xlf:categories" />
                                                </f:then>
                                                <f:else>
                                                    <f:translate key="LLL:EXT:c1_linklist/Resources/Private/Language/locallang.xlf:category" />
                                                </f:else>
                                            </f:if>
                                        </span>
                                    </f:comment>
                                    <f:for each="{link.categories}" as="category">
                                        <span class="tx-linklist-category" data-category="{category.uid}">
                                            {category.title}
                                        </span>
                                    </f:for>
                                </footer>
                            </div>
                            <f:if condition="{link.image}>0">
                                <div class="col-sm-4">
                                    <f:alias map="{imageFile: link.files}">
                                        <f:for each="{link.files}" as="file">
                                            <f:comment>
                                                NOTE: the additionalAttributes in the following f:media can only be
                                                understood by c1_fluid_styled_responsive_images.
                                            </f:comment>
                                            <f:media
                                                file="{file.originalFile}"
                                                width="480"
                                                alt="{file.mergedProperties.alternative->v:or(alternative: file.mergedProperties.name)}"
                                                additionalAttributes="{vw: '33.33', breakpoint: 'sm', image_format: 1.5}"
                                                />
                                        </f:for>
                                    </f:alias>

                                </div>
                            </f:if>
                        </div>
                    </article>
                </f:link.typolink>
            </div>
        </f:for>
        <f:if condition="{settings.includeJS}=='1'">
            <v:asset.script path="{f:uri.resource(path: 'Javascript/linklist.js', extensionName:'c1_linklist')}" name='c1_linklist_js'/>
        </f:if>
        <f:if condition="{settings.includeCSS}=='1'">
            <v:asset.style path="{f:uri.resource(path: 'Stylesheets/linklist.css', extensionName:'c1_linklist')}" name='c1_linklist_style'/>
        </f:if>
    </div>
</f:section>